/*CSS-header-sticky*/

.header-sticky {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
    width: 100%;
    text-align: center;
    align-items: center;
}
div.header-sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fff;
    font-size: 20px;
    padding: 10px 0;
}
.logo-header {
    flex-grow: 1;
}
.btn-search{
    flex-grow: 1;
}
.icons-header {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons-header > div {
    margin-left: 20px;
}
#home-icon {

}
#chat-icon{

}
#infor-icon {

}
.avatar-header{
    width: 40px;
    height: 40px;
    border: 2px solid #beb3f3;
    border-radius: 50%;
}

.result-search{
    display: none;
}
#input-search {
    border: 1px solid #aaaaaa;
    border-radius: 8px;
    padding: 5px;
    background-color: #d3dcdd;
}
/*CSS for additional*/
::-webkit-input-placeholder {
    text-align: center;
}
a{
    text-decoration: none;
}
body{
    margin: 0px;
}

/* CSS - for contents*/

.contents{
    margin: 0 25%;
    padding-top: 5px;
}
.new-post{
    background-color: #fff;
    display: flex;
    align-items: center;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    border-radius: 3px;
    padding: 20px 10%;
}
#input-post{
    width: 100%;
    padding: 15px 0;
    border: 1px solid #fafafa;
    margin-left: 2%;
    border-radius: 8px;
}

/*CSS for modal new post*/
/*
// CSS for Modal
*/
/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 18px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*CSS for article*/

.posts{

}
.article{
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    border-radius: 3px;
    background-color: #fff;
    margin: 5px 0;
}
.article-header{
    padding: 5px 2%;
    display: flex;
    align-items: center;
}
.images {
}
.reacts-icons{
    padding: 10px 0% 2px 0%;
}
.time-like{
    padding: 2px 0%;
}
.captions{
    padding: 2px 0%;
}
.comments {
    padding: 2px 0%;
}
.new-comment {
    padding: 0px 0%;
}

#image-item{
    width: 100%;
}
#form-cmt {
    display: flex;
    align-items: center;
    background-color: #FFFF;
    border: 1px solid #fafafa;
    border-radius: 12px;
}
#comment{
    border: none;
}
#post-btn {
    border: none;
    background-color: #FFFF;
    color: blue;
}
/*CSS for popup search*/
.popup {
    position: relative;
    display: inline;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    color: #000000;
    background-color: #ebebe0;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 130%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #ebebe0 transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
/*CSS for create a new post*/
.header-newpost {
    text-align: center;
}
.header-add{
    display: flex;
    align-items: center;
    padding: 5px 0;
}
.content-newpost{

}
.feature-add {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.create-btn{

}
#btn-submit{
    width: 100%;
    padding: 10px 0;
    background-color: #0099ff;
    border: 1px solid #fafafa;
    border-radius: 8px;
    font-size: large;
    color: #FFFF;
}
#post {
    width: 100%;
    border: 1px solid #d3dcdd;
    border-radius: 8px;
}