
/* avatar-profile */
.avatar-profile {
  min-width: fit-content;
  display: flex;
  flex-direction: row;
  height: 250px;
  background-color: #fafafa;
  border: 1px solid rgba(var(--b6a,219,219,219),1);
  border-radius: 7px;
}
.contents-profile{
  margin: 0 25%;
  padding-top: 5px;
}
/* avatar */
.avatar-profile .avatar {
  padding: 5px;
  flex-grow: 1;
  height: 95%;
  width: auto;
  background-color: #fafafa;
}

.avatar-profile .avatar .avatar-image {
  width: 250px;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #beb3f3;
}

/* .profile */
.avatar-profile .profile {
  flex-grow: 2;
  flex-direction: column;
}

.avatar-profile .profile .id-editbtn {
  flex-direction: row;
  display: flex;
  flex-grow: 1;
  background-color: aquamarine;
  background-color: #fafafa;
  align-items: center;
}

/* id-name */
.avatar-profile .profile .id-editbtn .id-name {
  flex-grow: 1;
  font-size: 40px;
}

/* edit-profile btn */

.edit-profile {
  height: 40px;
  cursor: pointer;
  padding: 6px;
  box-sizing: border-box;
  border-radius: 100%;
}

.edit-profile:hover {
  background-color: #d6d6d6;
}

/* tcn ban be */
.btn-inbox {
  flex-grow: 1;
  cursor: pointer;
  width: fit-content;
  text-align: center;
}

.btn-inbox > svg {
  padding: 7px;
  box-sizing: border-box;
  border-radius: 38%;
  height: 40px;
}

.btn-inbox > svg:hover {
  background-color: #d6d6d6;
}

/* chua follow */
.btnfollow {
  flex-grow: 1;
  border: 1px solid #d6d6d6;
  background: #fafafa;
  background-color: aqua;
  padding: 5px;
  border-radius: 18px;
  margin-right: 3%;
  /* max-width: fit-content; */
  cursor: pointer;
}


.btnfollowed:hover{
  background-color: #fff;
}


/* information invidual */
.profile {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 5px 0;
  font-size: 20px;
}
/* fullname and class */

.fullname-class {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.fullname-class .fullname {
  flex-grow: 1;
}

.fullname-class .className {
  flex-grow: 1
}

/* dob and gender */
.dob-gender {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.dob-gender .dob {
  flex-grow: 1;
}

.dob-gender .gender {
 flex-grow: 1;
}

/* hometown-relation */
.hometown-relation {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.hometown-relation .hometown {
  flex-grow: 1;
}

.hometown-relation .relation {
  flex-grow: 1;
}

/* follow */
.follow {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.follow .followed {
  flex-grow: 1;
}

.follow .be-followed {
  flex-grow: 1;
}

/* POST-STATUS */






