<!DOCTYPE html>
<html>
    <head>
        <title>=)))</title>
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href=".../public/CSS/home/home.css">
        <script>
            $(document).ready(()=>{
                
            });
        </script>
    </head>
    <body>
        <div>
            <div class="sticky-header">
                <div>
                    <img src="#" alt="Logo">
                    <span>Social Network</span>
                </div>
                <div class="search-button">
                    <form action="/users" method="POST">
                        <input type="text" name="dataSearch" value="Search" id="inputSearch">
                    </form>
                </div>
                <div class="options-user">
                    <a href="#"><img src="#" alt="Home Logo"></a>
                    <a href="#"><img src="#" alt="Chat Logo"></a>
                    <a href="#"><img src="#" alt="Options"></a>
                </div>
            </div>
            <div>
                <div class="post-status">

                </div>
                <div class="post">
                    <div class="username-header">

                    </div>
                    <div class="images-list-post">

                    </div>
                    <div class="like-bar">

                    </div>
                    <div class="caption-post">

                    </div>
                    <div class="comments-post">

                    </div>
                    <div class="add-comment">

                    </div>
                </div>
            </div>
        </div>
    </body>
</html>