<!DOCTYPE html>
<html lang="en">

<head>
    <title>KTee - Social Network</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/CSS/org.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <%- include('../template/header.ejs') %>
    <div class="contents">
        <%- include('../template/newpost.ejs') %>
        <div class="posts">
            <%- include('../template/post.ejs') %>
        </div>
    </div>
</body>

</html>