<!DOCTYPE html>
<html lang="en">

<head>
    <title>21-Social Network</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./org.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="header-sticky">
        <div class="logo-header">
            <a href="#">
                <!-- <img src="#" alt="Intargram">-->
                <span><b>|Intargram</b></span>
            </a>
        </div>
        <div class="btn-search">
            <input type="text" id="input-search" onclick="myFunction()" placeholder="Search by name">
            <span class="popuptext" id="myPopup">A Simple Popup!</span>
            <div class="result-search">
                <a href="#">tao_duongkhac</a>
                <a href="#">mai_truongson</a>
                <a href="#">to_hoaison</a>
                <a href="#">tan_truong</a>
            </div>
        </div>
        <script>
            // When the user clicks on div, open the popup
            function myFunction() {
                var popup = document.getElementById("myPopup");
                popup.classList.toggle("show");
            }
        </script>
        <div class="icons-header">
            <div id="home-icon">
                <a href="/">
                    <svg aria-label="Home" fill="#262626" height="22" viewBox="0 0 48 48" width="22">
                        <path
                            d="M45.5 48H30.1c-.8 0-1.5-.7-1.5-1.5V34.2c0-2.6-2.1-4.6-4.6-4.6s-4.6 2.1-4.6 4.6v12.3c0 .8-.7 1.5-1.5 1.5H2.5c-.8 0-1.5-.7-1.5-1.5V23c0-.4.2-.8.4-1.1L22.9.4c.6-.6 1.6-.6 2.1 0l21.5 21.5c.3.3.4.7.4 1.1v23.5c.1.8-.6 1.5-1.4 1.5z">
                        </path>
                    </svg>
                </a>
            </div>
            <div id="chat-icon">
                <a href="/chat">
                    <svg aria-label="Direct" fill="#262626" height="22" viewBox="0 0 48 48" width="22">
                        <path
                            d="M47.8 3.8c-.3-.5-.8-.8-1.3-.8h-45C.9 3.1.3 3.5.1 4S0 5.2.4 5.7l15.9 15.6 5.5 22.6c.1.6.6 1 1.2 1.1h.2c.5 0 1-.3 1.3-.7l23.2-39c.4-.4.4-1 .1-1.5zM5.2 6.1h35.5L18 18.7 5.2 6.1zm18.7 33.6l-4.4-18.4L42.4 8.6 23.9 39.7z">
                        </path>
                    </svg>
                </a>
            </div>
            <div id="infor-icon">
                <a href="/user">
                    <img src="./avatar.jpg" class="avatar-header" alt="avatar">
                </a>
            </div>
        </div>
    </div>
    <div class="contents">
        <div class="new-post">
            <div>
                <img src="./avatar.jpg" class="avatar-header" alt="avatar">
            </div>
            <div id="input-post">
                <input type="text" id="input-post" placeholder="Tee ơi, bạn đang nghĩ gì vậy?">
            </div>
        </div>
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <Form action="#" method="POST">
                    <div>
                        <h2>Tạo bài viết</h2>
                    </div>
                    <hr>
                    <div>
                        <a href="#">Jonse Tee</a>
                        <img src="#" alt="avatar">
                    </div>
                    <div>
                        <textarea name="post" id="post" cols="80" rows="20"></textarea>
                    </div>
                    <div>
                        <a href="#">Upload image</a>
                    </div>
                    <div>
                        | additional infor
                    </div>
                    <div>
                        <button type="submit">Đăng bài</button>
                    </div>
                </Form>
            </div>

        </div>

        <script>
            // Get the modal
            let modal = document.getElementById("myModal");
            // Get the form for onclick display the new post.

            // Get the <span> element that closes the modal
            let span = document.getElementsByClassName("close")[0];

            // When the user clicks the textarea, open the modal 
            let postNew = document.getElementById("input-post");
            postNew.onclick = function () {
                document.getElementsByClassName("modal")[0].style.display = "block";
            }
            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                document.getElementsByClassName("modal")[0].style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    document.getElementsByClassName("modal")[0].style.display = "none";
                }
            }
        </script>
        <div class="posts">
            <div class="article">
                <div class="article-header">
                    <img src="./avatar.jpg" class="avatar-header" alt="avatar">
                    <a href="#"><b>VTV24</b></a>
                </div>
                <div class="images">
                    <img id="image-item" src="./avatar.jpg" alt="image-status">
                </div>
                <div class="reacts-icons">
                    <span>
                        <svg aria-label="Activity Feed" class="_8-yf5 " fill="#262626" height="22" viewBox="0 0 48 48"
                            width="22">
                            <path
                                d="M34.6 6.1c5.7 0 10.4 5.2 10.4 11.5 0 6.8-5.9 11-11.5 16S25 41.3 24 41.9c-1.1-.7-4.7-4-9.5-8.3-5.7-5-11.5-9.2-11.5-16C3 11.3 7.7 6.1 13.4 6.1c4.2 0 6.5 2 8.1 4.3 1.9 2.6 2.2 3.9 2.5 3.9.3 0 .6-1.3 2.5-3.9 1.6-2.3 3.9-4.3 8.1-4.3m0-3c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5.6 0 1.1-.2 1.6-.5 1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z">
                            </path>
                        </svg>
                    </span>
                    <span>
                        <svg aria-label="Comment" class="_8-yf5 " fill="#262626" height="24" viewBox="0 0 48 48"
                            width="24">
                            <path clip-rule="evenodd"
                                d="M47.5 46.1l-2.8-11c1.8-3.3 2.8-7.1 2.8-11.1C47.5 11 37 .5 24 .5S.5 11 .5 24 11 47.5 24 47.5c4 0 7.8-1 11.1-2.8l11 2.8c.8.2 1.6-.6 1.4-1.4zm-3-22.1c0 4-1 7-2.6 10-.2.4-.3.9-.2 1.4l2.1 8.4-8.3-2.1c-.5-.1-1-.1-1.4.2-1.8 1-5.2 2.6-10 2.6-11.4 0-20.6-9.2-20.6-20.5S12.7 3.5 24 3.5 44.5 12.7 44.5 24z"
                                fill-rule="evenodd"></path>
                        </svg>
                    </span>
                    <span>
                        <a href="/chat">
                            <svg aria-label="Direct" fill="#262626" height="22" viewBox="0 0 48 48" width="22">
                                <path
                                    d="M47.8 3.8c-.3-.5-.8-.8-1.3-.8h-45C.9 3.1.3 3.5.1 4S0 5.2.4 5.7l15.9 15.6 5.5 22.6c.1.6.6 1 1.2 1.1h.2c.5 0 1-.3 1.3-.7l23.2-39c.4-.4.4-1 .1-1.5zM5.2 6.1h35.5L18 18.7 5.2 6.1zm18.7 33.6l-4.4-18.4L42.4 8.6 23.9 39.7z">
                                </path>
                            </svg>
                        </a>
                    </span>
                </div>
                <div class="time-like">
                    <span><b>1 million like</b></span>
                    <div><small>|1 giờ trước!</small></div>
                </div>
                <div class="captions">
                    <span>
                        <span><b>VTV24:</b></span>
                        | j4f
                    </span>
                    <hr>
                </div>
                <div class="comments">
                    <div>
                        <span><b>tao_duongkhac:</b>funny demo</span>
                    </div>
                    <div>
                        <span><b>tao_duongkhac:</b>funny</span>
                    </div>
                    <hr>
                </div>
                <div class="new-comment">
                    <form action="/comments" id="form-cmt" method="POST">
                        <span>
                            <svg aria-label="Emoji" class="_8-yf5 " fill="#262626" height="24" viewBox="0 0 48 48"
                                width="24">
                                <path
                                    d="M24 48C10.8 48 0 37.2 0 24S10.8 0 24 0s24 10.8 24 24-10.8 24-24 24zm0-45C12.4 3 3 12.4 3 24s9.4 21 21 21 21-9.4 21-21S35.6 3 24 3z">
                                </path>
                                <path
                                    d="M34.9 24c0-1.4-1.1-2.5-2.5-2.5s-2.5 1.1-2.5 2.5 1.1 2.5 2.5 2.5 2.5-1.1 2.5-2.5zm-21.8 0c0-1.4 1.1-2.5 2.5-2.5s2.5 1.1 2.5 2.5-1.1 2.5-2.5 2.5-2.5-1.1-2.5-2.5zM24 37.3c-5.2 0-8-3.5-8.2-3.7-.5-.6-.4-1.6.2-2.1.6-.5 1.6-.4 2.1.2.1.1 2.1 2.5 5.8 2.5 3.7 0 5.8-2.5 5.8-2.5.5-.6 1.5-.7 2.1-.2.6.5.7 1.5.2 2.1 0 .2-2.8 3.7-8 3.7z">
                                </path>
                            </svg>
                        </span>
                        <textarea name="comment" id="comment" placeholder="Add a comment" cols="85" rows="2"></textarea>
                        <input type="submit" id="post-btn" value="Post">
                    </form>
                </div>
            </div>
        </div>
</body>

</html>