<div class="content-right">
    <div class="online-header">
        Onlines
    </div>
    <div class="followers">
        <div style="display: flex; align-items: center;background-color: rgb(255, 255, 255);">
            <img src="avatar/avatar_mtp.png" style="width: 50px;height: 50px;border-radius: 50%;border: 1px solid #3b3838;" alt="avatar_mtp.png">
            <a href="#" style="text-decoration: none;margin: 0px 5px;font-weight: bold;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Dương Khắc Tạo</a>
            <img style="margin-left: 2px;width:10px; height: 10px; border-radius: 50%;" src="icons/online.png" alt="o">
        </div>
    </div>
</div>