<div class="new-post">
    <div class="div-image">
        <img src="<%=user.avatar %>" class="avatar-header" alt="avatar">
    </div>
    <div class="div-post">
        <input type="text" id="input-post" placeholder="Bạn đang nghĩ gì vậy?">
    </div>
</div>
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <form action="/posts" method="POST" enctype="multipart/form-data">
            <div class="header-newpost">
                <h2>Tạo bài viết</h2>
            </div>
            <hr>
            <div class="header-add">
                <img src="<%=user.avatar%>" class="avatar-header" alt="avatar">
                <a href="/users/<%=user.user_id%>" style="margin-left: 2%;"><b><%=user.user_id%></b></a>
            </div>
            <div class="content-newpost">
                <span>
                    <textarea name="caption" id="post" cols="95" placeholder="Bạn đang nghĩ gì vậy?"
                        rows="5"></textarea>
                </span>
            </div>
            <div class="feature-add">
                <span>
                    <svg aria-label="Emoji" class="_8-yf5 " fill="#262626" height="24" viewBox="0 0 48 48" width="24">
                        <path
                            d="M24 48C10.8 48 0 37.2 0 24S10.8 0 24 0s24 10.8 24 24-10.8 24-24 24zm0-45C12.4 3 3 12.4 3 24s9.4 21 21 21 21-9.4 21-21S35.6 3 24 3z">
                        </path>
                        <path
                            d="M34.9 24c0-1.4-1.1-2.5-2.5-2.5s-2.5 1.1-2.5 2.5 1.1 2.5 2.5 2.5 2.5-1.1 2.5-2.5zm-21.8 0c0-1.4 1.1-2.5 2.5-2.5s2.5 1.1 2.5 2.5-1.1 2.5-2.5 2.5-2.5-1.1-2.5-2.5zM24 37.3c-5.2 0-8-3.5-8.2-3.7-.5-.6-.4-1.6.2-2.1.6-.5 1.6-.4 2.1.2.1.1 2.1 2.5 5.8 2.5 3.7 0 5.8-2.5 5.8-2.5.5-.6 1.5-.7 2.1-.2.6.5.7 1.5.2 2.1 0 .2-2.8 3.7-8 3.7z">
                        </path>
                    </svg>
                </span>
                <input type="file" accept="image/*" name="image_post" id="file" onchange="loadFile(event)"
                    style="display: none;"></p>
                <p><label for="file" id="label_file" style="cursor: pointer;">Thêm ảnh</label></p>
            </div>
            <div style="text-align: center;">
                <img id="output" width="200" />
            </div>
            <div class="create-btn">
                <input id="btn-submit" type="submit" value="Đăng bài">
            </div>
        </form>
    </div>
</div>