<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/CSS/home.css">
</head>

<body style="text-align:center">

    <h2>Popup</h2>

    <div class="popup" onclick="openSearch()">
        <input type="text" onkeydown="search()">
        <span class="popuptext" id="myPopup">
            <a href="#">Google</a>
            <a href="#">Google</a>
        </span>
    </div>
    <script type="text/javascript" src="/js/header.js"></script>
</body>

</html>