<div class="popup" onclick="openSearch()">
    <input type="search" id="input-search" onkeydown="liveSearch()" placeholder="Search by name">
    <span class="popuptext" id="popupSearch">
        <ul id="list">
            <li>Kết quả tìm kiếm sẻ hiển thị ở đây</li>
        </ul>
    </span>
</div>