<div class="popup" onclick="openSearch()">
    <input type="search" id="input-search" onkeydown="liveSearch()" placeholder="Tìm kiếm người dùng">
    <span class="popuptext" id="popupSearch">
        <div style="padding-left:10%;">Kết quả tìm kiếm sẽ hiển thị ở đây.</div>
    </span>
</div>